* {
    margin: 0;
    padding: 0;}

body {
    font-family: Fredoka;
    background: 
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 20px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(150deg, #EAF0CE 0%, #C0C5C1 30%, #7D8491 100%);
    background-size: 20px 20px, 20px 20px, 100% 100%;
    text-align: center;
    min-height: 100vh; 

}



h1 {
    margin-top: 20px;
    font-size:60px;
    color: #333;
}

.container {
    height : 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    height : 60vmin;
    width : 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 1.5vmin;
}

.cell {
    height  : 18vmin;
    width  : 18vmin;
    border-radius: 10px;
    font-size: 10vmin;
    color: lightslategray;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.restart-btn {
    padding: 10px;
    font-size: 30px;
    background-color: #574B60;
    color: white;
    border: none;

}

.msgcontainer {
    padding: 10px;
    margin-top: 20px;
    font-size: 30px;
    color: #333;
}